exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(Seurat)
importFrom(ggridges, geom_density_ridges)
importFrom(ggridges, theme_ridges)
importFrom(grid, grid.draw)
importFrom(future, nbrOfWorkers)
importFrom(future.apply, future_lapply)
importFrom(pbapply, pblapply)
importFrom(gridExtra, arrangeGrob)
